---
---

@use '../../sass/utils' as *
@use '../../sass/basic' as *
@use '../../sass/layout' as *
@use '../../sass/rouge_github' as *

body
  padding: 1em calc(40% - 16em)
  > *
    margin: 1em 1.5em

header a:hover, footer a:hover, nav a:hover
  color: $highlight
  text-decoration-color: transparent
